package ${package}.${projectName}.${moduleName}. controller;

import ${package}.base.util.PageData;
import ${package}.base.util.Result;
import ${package}.${projectName}.${moduleName}.pojo.po.${className}Entity;
import ${package}.${projectName}.${moduleName}.pojo.dto.${className}Query;
import ${package}.${projectName}.${moduleName}.service.${className}Service;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@RestController
@RequestMapping("/${requestMapping}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    /**
    * 列表
    *
    * @return
    */
    @GetMapping("/list")
    @RequiresPermissions("${classname}:list")
    public Result<PageData<${className}Entity>> list(@Validated ${className}Query query) {
        PageData<${className}Entity> pageData = ${classname}Service.page(query);
        return Result.ok(pageData);
    }

    /**
    * 新增
    *
    * @param entity
    * @return
    */
    @PostMapping("/save")
    @RequiresPermissions("${classname}:save")
    public Result<Void> save(@RequestBody @Validated ${className}Entity entity) {
        ${classname}Service.save(entity);
        return Result.ok();
    }

    /**
    * 更新
    *
    * @param entity
    * @return
    */
    @PostMapping("/update")
    @RequiresPermissions("${classname}:update")
    public Result<Void> update(@RequestBody @Validated ${className}Entity entity) {
        ${classname}Service.updateById(entity);
        return Result.ok();
    }

    /**
    * 删除
    *
    * @param id
    * @return
    */
    @PostMapping("/delete/{id}")
    @RequiresPermissions("${classname}:delete")
    public Result<Void> delete(@PathVariable Integer id) {
        ${classname}Service.removeById(id);
        return Result.ok();
    }
}
