package ${package}.${projectName}.${moduleName}.controller;

import lombok.extern.slf4j.Slf4j;
import ${package}.base.util.PageData;
import ${package}.base.util.Result;
import ${package}.${projectName}.${moduleName}.pojo.po.${className}Entity;
import ${package}.${projectName}.${moduleName}.pojo.dto.${className}Query;
import ${package}.${projectName}.${moduleName}.service.${className}Service;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@Slf4j
@RestController
@RequestMapping("/${requestMapping}")
public class ${className}Controller {
    public static final String LIST_PERMISSIONS = "${classname}:list";
    public static final String DETAIL_PERMISSIONS = "${classname}:detail";
    public static final String SAVE_PERMISSIONS = "${classname}:save";
    public static final String UPDATE_PERMISSIONS = "${classname}:update";
    public static final String DELETE_PERMISSIONS = "${classname}:delete";

    @Autowired
    private ${className}Service ${classname}Service;

    /**
    * 列表
    *
    * @return
    */
    @GetMapping("/list")
    @RequiresPermissions(LIST_PERMISSIONS)
    public Result<PageData<${className}Entity>> list(@Validated ${className}Query query) {
        PageData<${className}Entity> pageData = ${classname}Service.page(query);
        return Result.ok(pageData);
    }

    /**
    * 详情
    *
    * @param id
    * @return
    */
    @GetMapping("/detail")
    @RequiresPermissions(DETAIL_PERMISSIONS)
    public Result<${className}Entity> detail(@RequestParam Long id) {
        ${className}Entity entity = ${classname}Service.getById(id);
        if (entity == null) {
            return Result.error(id + "不存在");
        }
        return Result.ok(entity);
    }

    /**
    * 新增
    *
    * @param entity
    * @return
    */
    @PostMapping("/save")
    @RequiresPermissions(SAVE_PERMISSIONS)
    public Result<Void> save(@RequestBody @Validated ${className}Entity entity) {
        ${classname}Service.save(entity);
        return Result.ok();
    }

    /**
    * 更新
    *
    * @param entity
    * @return
    */
    @PostMapping("/update")
    @RequiresPermissions(UPDATE_PERMISSIONS)
    public Result<Void> update(@RequestBody @Validated ${className}Entity entity) {
        ${classname}Service.updateById(entity);
        return Result.ok();
    }

    /**
    * 删除
    *
    * @param id
    * @return
    */
    @PostMapping("/delete/{id}")
    @RequiresPermissions(DELETE_PERMISSIONS)
    public Result<Void> delete(@PathVariable Integer id) {
        ${classname}Service.removeById(id);
        return Result.ok();
    }
}
