package ${package}.${projectName}.${moduleName}.pojo.dto;

import com.xsy.base.pojo.PageQuery;
import lombok.Data;
import lombok.EqualsAndHashCode;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * ${comments} 查询参数
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${className}Query extends PageQuery{
	// TODO 添加业务字段
}
