package ${package}.${projectName}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.base.util.PageData;
import ${package}.${projectName}.${moduleName}.pojo.dto.${className}Query;
import ${package}.${projectName}.${moduleName}.pojo.po.${className}Entity;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
public interface ${className}Service extends IService<${className}Entity> {
    PageData<${className}Entity> page(${className}Query query);
}
